scapy>=2.4.5
pywifi>=1.1.12
matplotlib>=3.5.1
pandas>=1.4.1
PyQt5>=5.15.6
reportlab>=3.6.8
passlib>=1.7.4
python-dotenv>=0.20.0
requests>=2.27.1
tqdm>=4.63.0
colorama>=0.4.4
comtypes>=1.1.14
pyqtgraph>=0.13.1
pyqtdarktheme>=2.1.0
numpy>=1.24.0
pillow>=9.4.0
pyopenssl>=23.0.0
seaborn>=0.12.2
pyqtwebengine>=5.15.6
networkx>=2.8.0
zxcvbn>=4.4.28
tensorflow>=2.10.0
sqlite3>=2.6.0
dataclasses>=0.8
typing-extensions>=4.3.0
qrcode>=8.0.0
